.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.message {
    color: white;
}

.dialog {
    color: white;
    text-decoration: none;
}

.active {
    color: gold;
}